html {
    scroll-behavior: smooth;
}

body {
    background-image: url("https://mariet07.github.io/pasteleriaonline/img/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-attachment: fixed;*/
}

.fondoreseñas {
    background-image: url("../img/confeti.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    /*flex-direction: row;*/
    flex-wrap: wrap;/* Permite que los elementos bajen si no caben en la misma linea*/
    justify-content: space-between;
    align-items: center; /*centra verticalmente*/
    background-color: rgb(244, 212, 250); /*rgb(248, 204, 234) rosa*/
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 20px #663233; /*eje x, eje y, blur*/
    transition: transform 3s ease-in-out; /*para ver el efecto poner la clase anim en el header, no lo puse xq no me gusta como queda, puede servir para los productos*/
    z-index: 10;
    padding: 10px;
}

.logo {
    flex: 1; /*ocupa espacio proporcionalmente*/
}

.titulo {
    flex: 2; /*se ajusta más ancho q los otros elementos*/
    text-align: center;
}

.anim {
    transition: transform 0.5s ease-in-out;
}

.anim:hover {
    transform: scale(1.15);
}

h1 {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #663233;
}

h2 {
    color: #947070;
}

h5 {
    color: #ac9b5a; /*#a0966e*/
}

a {
    text-decoration: none;
    color: #663233;
}

.imglogo {
    margin-bottom: 10px;
}

nav {
    font-family: "Playwrite HU", cursive; /*fuente agregada de google*/
    flex: 1;
    display: flex;
    justify-content: flex-end; /*alineación a la derecha*/
}

.nav {
   display: flex;
   justify-content: center;
   
  
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list {
    list-style: none; /* quita viñetas*/
    padding: 0; /* elimina espacio interno*/
    background-color: #c77fb5; /* color de fondo*/
    
}

.nav-list li {
    display: inline-block; /* muestra los elementos <li> en linea en vez de columna*/
    margin-right: 15px; /* agrega separación entre los elementos*/
}

.nav-list a {
    padding: 10px;
    text-decoration: none; /* elimina el subrayado de los enlaces <a> */
    color: whitesmoke; /* color de los enlaces*/
    font-weight: bold; /* negrita */
    display: inline-block; /* permite q el efecto se vea correctamente*/
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out; /* suaviza el efecto*/
}
.nav-list  {
    padding: 10px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    display: inline-block;
    transition: transform 0.3s;
}

.nav-list a:hover::after { /*efecto al pasar el mouse*/
    width: 100%; /*se expande completamente*/
}

.nav-list a:hover {
    transform: scale(1.2); /* aumenta el tamaño en un 20%*/
    color: #663233; /* cambia el color*/
}


.contenedor {
    display: flex;
    justify-content: space-between; /*center, flex start, flex end, space around, space between, space center*/
    flex-wrap: wrap;
    align-items: stretch; /*flex end puede servir para el footer, tb esta flex start, baseline*/
    border: 5px solid black;
    height: 300px; /* auto */
    .item {
    border: 3px solid rgb(209, 12, 12);
    height: auto;
    width: auto;
}
}

.item {
    border: 3px solid rgb(209, 12, 12);
    height: 150px;
    width: 100px;
}


.botones_productos {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin: 3%;
    padding: 1%;
    text-align: center;
    
}

.producto_flex {
    display: flex;
    justify-content: space-evenly; /*distribución de elementos*/
    flex-wrap: wrap;
    gap: 20px; 
    padding: 20px;
}

.producto_flex h3 {
    color: #ff6b6b;
}


.item_flex {
    min-width: 250px;
    max-width: 300px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    padding: 15px;
}

.item_flex:hover {
    transform: translateY(-5px);
    transition: transform 0.5s ease-in-out;
    box-shadow: 0px 0px 3px grey;
}









#piepagina {
  color: rgb(165, 63, 165);
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: rgb(248, 204, 234);
    padding: 20px;
    box-shadow: 0px 0px 20px #663233; /*eje x, eje y, blur*/
    width: 100%;

}

.pfooter {
    color: #663233;
    color: #947070;
    
}

/*iconos rrss*/
.conticonos {
    display: flex; /*contenedor padre q contiene los items flexibles*/
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 15px; /*agrega espacio entre los íconos*/
    
   
}

.fa-envelope {
   
    font-size: 30px;
    color: #663233; /* Color oscuro neutro para correo */
    transition: transform 0.3s ease;
}

.fa-envelope:hover {
    transform: scale(1.2);
    color: #ff6b6b; /* Rojo sutil al hacer hover */
}


.fa-facebook {
    
    font-size: 30px;
    color: #663233; /* color de la web de peggy proschen*/
    transition: transform 0.3s ease;
}

.fa-facebook:hover {
    transform: scale(1.2);
    color: #1877F2; /* Color azul de Facebook */
}

.fa-whatsapp {
    font-size: 30px;
    color: #663233;
    transition: transform 0.3s ease; /* Agrega una animación suave */
}

.fa-whatsapp:hover {
    transform: scale(1.2);
    color: #1ebe56; /* Verde más intenso al hacer hover (#25D366 es el Verde de WhatsApp)*/
}

.fa-instagram {
    
    font-size: 30px; /* Ajusta el tamaño del ícono */
    color: #663233;
    transition: transform 0.3s ease; /* Agrega una animación suave */
}

.fa-instagram:hover {
    transform: scale(1.2); /* Hace que el ícono aumente un 10% al pasar el cursor */
    color: #E4405F; /* Cambia el color al típico rojo de Instagram */
}

.contacto-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contacto-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* formulario más ancho*/
    gap: 200px; /*espacio entre elementos*/
    align-items: center;
}
.contacto-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
    gap: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
    align-self: start;
    color: #663233;
}

.botones-form {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}


.instagram {
    max-width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
}
/* Ajuste para móviles*/
@media screen and (max-width: 768px) {
    .contacto-container {
        align-items: center;
        /*width: 95%;*/
    }
    .contacto-grid{
        grid-template-columns: 1fr; /*cambia la disposición en móviles*/
    }
    .contacto-form input,
    .contacto-form textarea {
        width: 100%;
        max-width: 400px;
        margin-bottom: 20px;
    }
    .botones-form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }
    .instagram {
        width: 100%;
        max-width: 400px;
        margin: auto;
    }
}



.grilla {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /*fr: fracción o fragmento*/
    grid-template-rows: 1fr 1fr;

}

.itemgrilla {
    display: flex;
    grid-column: 2 / 3;
    grid-row: 3 / 4 ;
}


.gridreseñas {
    display: grid;    
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 50px; /* Espacio uniforme entre filas y columnas */
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 800px;
    margin: auto;
}

.gridreseñas h3 {
    display: flex;
    grid-column: 1 / 3 ; /* posición entre líneas del grid*/
    grid-row: 1 / 2 ;
    color: rgb(228, 64, 95) ;

}
.estrella {
    color: #dfbd38;     
    font-size: 32px;
    border: none;
    background: transparent;
    display: inline-block;
}

.gridreseñas p {
    color: #663233;
    font-weight: lighter;
}



.itemreseña {
    border: 2px solid #663233;
    padding: 15px; /* espaciado interno */
    border-radius: 10px;
    background-color: #f4d4fa;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4); /* Sombra suave */

}


@media () {

}
